html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.imgMovieDrtails{
  max-height: 600px;
}

form{
  padding-left: 20px;
}

.label {
  margin-bottom: 10px;
  
}

